{% extends "base/index.html" %}
{% load i18n %}
{% block onload %}"loadCalendario('fecha_asignacion','calfasignacion');"{% endblock %}
{% block ruta %}
	&#160;>&#160;<a href="{% url planta.views.inicio %}">{% trans "planta" %}</a>
	&#160;>&#160;<a href="#">{% trans "física" %}</a>
	&#160;>&#160;<a href="{% url planta.fisica.views.registrarAulaCarrera %}">{% trans "aula por carrera" %}</a>
{% endblock %}
{% block titulo %}{% trans "Registro de Aula por Carrera" %}{% endblock %}
{% block botones %}
	<button class="btnAction" title='{% trans "Pulse el botón para guardar los registros" %}' onclick="document.getElementById('frmPpal').action='{% url planta.fisica.views.registrarAulaCarrera %}'"><img class="imgBoton" src="../../media/images/botones/guardar.png"></button>
	<button class="btnAction" title='{% trans "Pulse el botón para borrar el formulario" %}' onclick="window.location='{% url planta.fisica.views.registrarAulaCarrera %}'"><img class="imgBoton" src="../../media/images/botones/borrar.png"></button>
{% endblock %}
{% block formulario %}
	{{form.modificar}}
	<div id="column_left">
		<ul>
			<li class='left'>{{form.fecha_asignacion.label}}</li>
			<li class='right'>
				{{form.fecha_asignacion}}&#160;<img src="../../media/images/base/calendar.png" id="calfasignacion" style="cursor:pointer"><label id="helpfecha" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e1">{{form.fecha_asignacion.errors}}</div>
			</li>
			<li class='left'>{{form.aula.label}}</li>
			<li class='right'>
				{{form.aula}}<label id="helpaula" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e3">{{form.aula.errors}}</div>
			</li>
			<li class='left'>{{form.semana.label}}<label id="helpsem" class="ayudacampo">?</label><label class="req">*</label></li>
			<li class='right'>
				{{form.semana}}
				<div class="errores" id="e4">{{form.semana.errors}}</div>
			</li>
		</ul>	
	</div>
	<div id="column_right">
		<ul>
			<li class='left'>{{form.estatus.label}}</li>
			<li class='right'>
				{{form.estatus}}<label id="helpestatus" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e6">{{form.estatus.errors}}</div>
			</li>
			<li class='left'>{{form.carrsed.label}}</li>
			<li class='right'>
				{{form.carrsed}}<label id="helpcarrsed" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e2">{{form.carrsed.errors}}</div>
			</li>
			<li class='left'>{{form.observaciones.label}}</li>
			<li class='right'>
				{{form.observaciones}}<label id="helpobs" class="ayudacampo">?</label>
				<div class="errores" id="e7">{{form.observaciones.errors}}</div>
			</li>
		</ul>	
	</div>
	{% if registros %}
		<div id="registros">
			<table align="center" class="tablaconsulta">
				<caption class="titulo_consulta">{% trans "Aulas por Carrera Registradas" %}<br/><br/></caption>
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<thead>
					<tr class="alineacioncent negrita">
						<td class="borde_delgado">{% trans "sede" %}</td>
						<td class="borde_delgado">{% trans "carrera" %}</td>
						<td class="borde_delgado">{% trans "edificio" %}</td>
						<td class="borde_delgado">{% trans "aula" %}</td>
						<td class="borde_delgado">{% trans "fecha asig." %}</td>
						<td class="borde_delgado">{% trans "días" %}</td>
						<td class="borde_delgado">{% trans "estatus" %}</td>
						<td class="borde_delgado">{% trans "acc." %}</td>
					</tr>
				</thead>
				<tbody>
					{% for reg in registros.object_list %}
						<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}" id="{{reg.id}}">
							<td class="borde_delgado">{{reg.carrera_sede.sede.descripcion}}</td>
							<td class="borde_delgado">{{reg.carerra_sede.carrera.descripcion}}</td>
							<td class="borde_delgado">{{reg.aula.edificio.descripcion}}</td>
							<td class="borde_delgado">{{reg.aula.descripcion}}</td>
							<td class="borde_delgado">{{reg.fecha_asignacion|date:"d-m-Y"}}</td>
							<td class="borde_delgado">
								{% if reg.lu %}{% trans "Lunes" %}{% endif %}
								{% if reg.ma %}{% trans "Martes" %}{% endif %}
								{% if reg.mi %}{% trans "Miércoles" %}{% endif %}
								{% if reg.ju %}{% trans "Jueves" %}{% endif %}
								{% if reg.vi %}{% trans "Viernes" %}{% endif %}
								{% if reg.sa %}{% trans "Sábado" %}{% endif %}
								{% if reg.do %}{% trans "Domingo" %}{% endif %}
							</td>
							<td class="borde_delgado">{% if reg.estatus %}{% trans "Activa" %}{% else %}{% trans "Inactiva" %}{% endif %}</td>
							<td class="borde_delgado alineacioncent">
								<img class="imgConsul" src="../../../media/images/consulta/editar.png" style="cursor:pointer" onclick="Dajax.academico_mostrarDatosAlumno({'alumno':'{{reg.id}}'})" alt='{% trans "Modificar" %}' title='{% trans "Pulse sobre este botón para modificar el registro" %}' />
								&#160;
								<img class="imgConsul" src="../../../media/images/consulta/eliminar.png" style="cursor:pointer" onclick="confirmarEliminar('aula_carrera', '{{reg.id}}')" alt='{% trans "Eliminar" %}' title='{% trans "Pulse sobre este botón para eliminar el registro" %}' />
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include "base/base_paginacion.html" %}
	{% endif %}
{% endblock %}