{% extends "base/index.html" %}
{% load i18n %}
{% block ruta %}
	&#160;>&#160;<a href="{% url unidadcurricular.views.inicio %}">{% trans "unidad curricular" %}</a>
	&#160;>&#160;<a href="{% url unidadcurricular.views.registrarCondUnidad %}">{% trans "condición unidad" %}</a>
{% endblock %}
{% block titulo %}{% trans "Registro de Condición de Unidad Curricular" %}{% endblock %}
{% block botones %}
	<button class="btnAction" title='{% trans "Pulse el botón para guardar los registros" %}' onclick="document.getElementById('frmPpal').action='{% url unidadcurricular.views.registrarCondUnidad %}'"><img class="imgBoton" src="../../media/images/botones/guardar.png"></button>
	<img class="imgBoton" src="../../media/images/botones/borrar.png" title='{% trans "Pulse el botón para borrar el formulario" %}' onclick="window.location='{% url unidadcurricular.views.registrarCondUnidad %}'">
{% endblock %}
{% block formulario %}
	<div id="column_left">
		<ul>
			<li class='left'>{{form.cond_unidad.label}}</li>
			<li class='right'>
				{{form.cond_unidad}}<label id="helpcond" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e1">{{form.cond_unidad.errors}}</div>
			</li>
		</ul>	
	</div>
	<div id="column_right">
		<ul>
			<li class='left'>{{form.descripcion.label}}</li>
			<li class='right'>
				{{form.descripcion}}<label id="helpdesc" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e2">{{form.descripcion.errors}}</div>
			</li>
		</ul>	
	</div>
	{{form.modificar}}
	{% if registros %}
		<div id="registros">
			<table align="center" class="tablaconsulta">
				<caption class="titulo_consulta">{% trans "Condiciones de Unidades Curriculares Registradas" %}<br/><br/></caption>
				<col width="20%">
				<col width="70%">
				<col width="10%">
				<thead>
					<tr class="alineacioncent negrita">
						<td class="borde_delgado">{% trans "código" %}</td>
						<td class="borde_delgado">{% trans "descripción" %}</td>
						<td class="borde_delgado">{% trans "acc." %}</td>
					</tr>
				</thead>
				<tbody>
					{% for reg in registros.object_list %}
						<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}" id="{{reg.cond_unidad}}">
							<td class="borde_delgado">{{reg.cond_unidad}}</td>
							<td class="borde_delgado">{{reg.descripcion}}</td>
							<td class="borde_delgado alineacioncent">
								<img class="imgConsul" src="../../../media/images/consulta/editar.png" style="cursor:pointer" onclick="Dajax.unidadcurricular_mostrarDatosCondicion({'cond':'{{reg.cond_unidad}}'})" alt='{% trans "Modificar" %}' title='{% trans "Pulse sobre este botón para modificar el registro" %}' />
								&#160;
								<img class="imgConsul" src="../../../media/images/consulta/eliminar.png" style="cursor:pointer" onclick="confirmarEliminar('condicion_unidad', '{{reg.cond_unidad}}')" alt='{% trans "Eliminar" %}' title='{% trans "Pulse sobre este botón para eliminar el registro" %}' />
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include "base/base_paginacion.html" %}
	{% endif %}
{% endblock %}