{% extends "base/index.html" %}
{% load i18n %}
{% block ruta %}
	&#160;>&#160;<a href="{% url unidadcurricular.views.inicio %}">{% trans "unidad curricular" %}</a>
	&#160;>&#160;<a href="{% url unidadcurricular.views.registrarPrelacion %}">{% trans "prelación" %}</a>
{% endblock %}
{% block titulo %}{% trans "Registro de Prelaciones" %}{% endblock %}
{% block botones %}
	<button class="btnAction" title='{% trans "Pulse el botón para guardar los registros" %}' onclick="document.getElementById('frmPpal').action='{% url unidadcurricular.views.registrarPrelacion %}'"><img class="imgBoton" src="../../media/images/botones/guardar.png"></button>
	<img class="imgBoton" src="../../media/images/botones/borrar.png" title='{% trans "Pulse el botón para borrar el formulario" %}' onclick="window.location='{% url unidadcurricular.views.registrarPrelacion %}'">
{% endblock %}
{% block formulario %}
	<div id="column_left">
		<ul>
			<li class='left'>{{form.cod_prela.label}}</li>
			<li class='right'>
				{{form.cod_prela}}<label id="helpcod" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e1">{{form.cod_prela.errors}}</div>
			</li>
			<li class='left'>{{form.unidadcurr.label}}</li>
			<li class='right'>
				{{form.unidadcurr}}<label id="helpunidad" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e2">{{form.unidadcurr.errors}}</div>
			</li>
		</ul>	
	</div>
	<div id="column_right">
		<ul>
			<li class='left'>{{form.estatus.label}}</li>
			<li class='right'>
				{{form.estatus}}<label id="helpestatus" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e3">{{form.estatus.errors}}</div>
			</li>
		</ul>
	</div>
	{{form.modificar}}
	{% if registros %}
		<div id="registros">
			<table align="center" class="tablaconsulta">
				<caption class="titulo_consulta">{% trans "Prelaciones Registradas" %}<br/><br/></caption>
				<col width="10%">
				<col width="60%">
				<col width="20%">
				<col width="10%">
				<thead>
					<tr class="alineacioncent negrita">
						<td class="borde_delgado">{% trans "código" %}</td>
						<td class="borde_delgado">{% trans "unidad curricular" %}</td>
						<td class="borde_delgado">{% trans "estatus" %}</td>
						<td class="borde_delgado">{% trans "acc." %}</td>
					</tr>
				</thead>
				<tbody>
					{% for reg in registros.object_list %}
						<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}" id="{{reg.cod_prela}}">
							<td class="borde_delgado">{{reg.cod_prela}}</td>
							<td class="borde_delgado">{{reg.unidadcurricular.nombre}}</td>
							<td class="borde_delgado">{% if reg.estatus %}{% trans "Activa" %}{% else %}{% trans "Inactiva" %}{% endif %}</td>
							<td class="borde_delgado alineacioncent">
								<img class="imgConsul" src="../../../media/images/consulta/editar.png" style="cursor:pointer" onclick="Dajax.unidadcurricular_mostrarDatosPrelacion({'pre':'{{reg.cod_prela}}'})" alt='{% trans "Modificar" %}' title='{% trans "Pulse sobre este botón para modificar el registro" %}' />
								&#160;
								<img class="imgConsul" src="../../../media/images/consulta/eliminar.png" style="cursor:pointer" onclick="confirmarEliminar('prelacion', '{{reg.cod_prela}}')" alt='{% trans "Eliminar" %}' title='{% trans "Pulse sobre este botón para eliminar el registro" %}' />
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include "base/base_paginacion.html" %}
	{% endif %}
{% endblock %}