{% extends "base/index.html" %}
{% load i18n %}
{% block ruta %}
	&#160;>&#160;<a href="{% url academico.views.inicio %}">{% trans "académico" %}</a>
	&#160;>&#160;<a href="{% url academico.views.registrarAnualidadCarrera %}">{% trans "anualidad por carrera" %}</a>
{% endblock %}
{% block titulo %}{% trans "Registro de Anualidad por Carrera" %}{% endblock %}
{% block botones %}
	<button class="btnAction" title='{% trans "Pulse el botón para guardar los registros" %}' onclick="document.getElementById('frmPpal').action='{% url academico.views.registrarAnualidadCarrera %}'"><img class="imgBoton" src="../../media/images/botones/guardar.png"></button>
	<button class="btnAction" title='{% trans "Pulse el botón para borrar el formulario" %}' onclick="window.location='{% url academico.views.registrarAnualidadCarrera %}'"><img class="imgBoton" src="../../media/images/botones/borrar.png"></button>
{% endblock %}
{% block formulario %}
	{{form.modificar}}
	<div id="column_left">
		<ul>
			<li class='left'>{{form.carrsed.label}}</li>
			<li class='right'>
				{{form.carrsed}}<label id="helpcase" class="ayudacampo">?</label><label class="req">*</label>
				{{form.helpcase|safe}}
				<div class="errores" id="e1">{{form.carrsed.errors}}</div>
			</li>
			<li class='left'>{{form.anualidad.label}}</li>
			<li class='right'>
				{{form.anualidad}}<label id="helpanua" class="ayudacampo">?</label><label class="req">*</label>
				{{form.helpanua|safe}}
				<div class="errores" id="e2">{{form.anualidad.errors}}</div>
			</li>
			<li class='left'>{{form.observaciones.label}}</li>
			<li class='right'>
				{{form.observaciones}}<label id="helpobs" class="ayudacampo">?</label><label class="req">*</label>
				{{form.helpobs|safe}}
				<div class="errores" id="e6">{{form.observaciones.errors}}</div>
			</li>
		</ul>
	</div>
	<div id="column_right">
		<ul>
			<li class='left'>{{form.estatus.label}}</li>
			<li class='right'>
				{{form.estatus}}<label id="helpest" class="ayudacampo">?</label><label class="req">*</label>
				{{form.helpest|safe}}
				<div class="errores" id="e5">{{form.estatus.errors}}</div>
			</li>
			<li class='left'>{{form.idanualidad_carrera.label}}</li>
			<li class='right'>
				{{form.idanualidad_carrera}}<label id="helpid" class="ayudacampo">?</label><label class="req">*</label>
				{{form.helpid|safe}}
				<div class="errores" id="e3">{{form.idanualidad_carrera.errors}}</div>
			</li>
		</ul>
	</div>
	{% if registros %}
		<div id="registros">
			<table align="center" class="tablaconsulta">
				<caption class="titulo_consulta">{% trans "Anualidades por Carrera Registradas" %}<br/><br/></caption>
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="10%">
				<col width="10%">
				<thead>
					<tr class="alineacioncent negrita">
						<td class="borde_delgado">{% trans "sede" %}</td>
						<td class="borde_delgado">{% trans "carrera" %}</td>
						<td class="borde_delgado">{% trans "anualidad" %}</td>
						<td class="borde_delgado">{% trans "observaciones" %}</td>
						<td class="borde_delgado">{% trans "estatus" %}</td>
						<td class="borde_delgado">{% trans "acc." %}</td>
					</tr>
				</thead>
				<tbody>
					{% for reg in registros.object_list %}
						<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}" id="{{reg.idanualidad_carrera}}">
							<td class="borde_delgado">{{reg.carrerasede.sede.descripcion}}</td>
							<td class="borde_delgado">{{reg.carrerasede.carrera.descripcion}}</td>
							<td class="borde_delgado">{{reg.anualidad.descripcion}}</td>
							<td class="borde_delgado">{{reg.observaciones}}</td>
							<td class="borde_delgado">
								{% ifequal reg.estatus "A" %}
									Activo
								{% else %}
									{% ifequal reg.estatus "C" %}
										Cerrado
									{% else %}
										Pendiente
									{% endifequal %}
								{% endifequal %}
							</td>
							<td class="borde_delgado alineacioncent">
								<img class="imgConsul" src="../../../media/images/consulta/editar.png" style="cursor:pointer" onclick="Dajax.academico_mostrarDatosAlumno({'alumno':'{{reg.idanualidad_carrera}}'})" alt='{% trans "Modificar" %}' title='{% trans "Pulse sobre este botón para modificar el registro" %}' />
								&#160;
								<img class="imgConsul" src="../../../media/images/consulta/eliminar.png" style="cursor:pointer" onclick="confirmarEliminar('anualidad_carrera', '{{reg.idanualidad_carrera}}')" alt='{% trans "Eliminar" %}' title='{% trans "Pulse sobre este botón para eliminar el registro" %}' />
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include "base/base_paginacion.html" %}
	{% endif %}
	<script type="text/javascript">
		/*funciones que permiten mostrar y ocultar la ayuda del campo*/
		$("#helpcase").mouseenter(function(evento) {
			$("#ayudacase").css("display","block");
		});
		$("#helpcase").mouseleave(function(evento) {
			$("#ayudacase").css("display","none");
		});
		$("#helpanua").mouseenter(function(evento) {
			$("#ayudaanua").css("display","block");
		});
		$("#helpanua").mouseleave(function(evento) {
			$("#ayudaanua").css("display","none");
		});
		$("#helpobs").mouseenter(function(evento) {
			$("#ayudaobs").css("display","block");
		});
		$("#helpobs").mouseleave(function(evento) {
			$("#ayudaobs").css("display","none");
		});
		$("#helpest").mouseenter(function(evento) {
			$("#ayudaest").css("display","block");
		});
		$("#helpest").mouseleave(function(evento) {
			$("#ayudaest").css("display","none");
		});
		$("#helpid").mouseenter(function(evento) {
			$("#ayudaid").css("display","block");
		});
		$("#helpid").mouseleave(function(evento) {
			$("#ayudaid").css("display","none");
		});
	</script>
{% endblock %}