{% extends "base/index.html" %}
{% load i18n %}
{% block onload %}"loadCalendario('fregistro','calfregistro');"{% endblock %}
{% block ruta %}
	&#160;>&#160;<a href="{% url planificacion.views.inicio %}">{% trans "planificación" %}</a>
	&#160;>&#160;<a href="{% url planificacion.views.registrarPlanificacion %}">{% trans "planificación" %}</a>
{% endblock %}
{% block titulo %}{% trans "Registro de Planificación" %}{% endblock %}
{% block botones %}
	<button class="btnAction" title='{% trans "Pulse el botón para guardar los registros" %}' onclick="document.getElementById('frmPpal').action='{% url planificacion.views.registrarPlanificacion %}'"><img class="imgBoton" src="../../media/images/botones/guardar.png"></button>
	<button class="btnAction" title='{% trans "Pulse el botón para borrar el formulario" %}' onclick="window.location='{% url planificacion.views.registrarPlanificacion %}'"><img class="imgBoton" src="../../media/images/botones/borrar.png"></button>
{% endblock %}
{% block formulario %}
	<div id="column_left">
		<ul>
			<li class='left'>{{form.anualidad_trimestre.label}}</li>
			<li class='right'>
				{{form.anualidad_trimestre}}<label id="helpanualtri" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e3">{{form.anualidad_trimestre.errors}}</div>
			</li>
			<li class='left'>{{form.descripcion.label}}</li>
			<li class='right'>
				{{form.descripcion}}<label id="helpdesc" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e3">{{form.descripcion.errors}}</div>
			</li>
			<li class='left'>{{form.fregistro.label}}</li>
			<li class='right'>
				{{form.fregistro}}&#160;<img src="../../media/images/base/calendar.png" id="calfregistro" style="cursor:pointer"><label id="helpfecha" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e1">{{form.fregistro.errors}}</div>
			</li>
		</ul>	
	</div>
	<div id="column_right">
		<ul>
			<li class='left'>{{form.carrera.label}}</li>
			<li class='right'>
				{{form.carrera}}<label id="helpcarr" class="ayudacampo">?</label><label class="req">*</label>
				<div class="errores" id="e3">{{form.carrera.errors}}</div>
			</li>
			<li class='left'>{{form.observaciones.label}}</li>
			<li class='right'>
				{{form.observaciones}}<label id="helpobs" class="ayudacampo">?</label>
				<div class="errores" id="e3">{{form.observaciones.errors}}</div>
			</li>
		</ul>	
	</div>
	{% if registros %}
		<div id="registros">
			<table align="center" class="tablaconsulta">
				<caption class="titulo_consulta">{% trans "Planificaciones Registradas" %}<br/><br/></caption>
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="10%">
				<col width="10%">
				<thead>
					<tr class="alineacioncent negrita">
						<td class="borde_delgado">{% trans "anualidad por trimestre" %}</td>
						<td class="borde_delgado">{% trans "carrera" %}</td>
						<td class="borde_delgado">{% trans "descripción" %}</td>
						<td class="borde_delgado">{% trans "observaciones" %}</td>
						<td class="borde_delgado">{% trans "fecha" %}</td>
						<td class="borde_delgado">{% trans "acc." %}</td>
					</tr>
				</thead>
				<tbody>
					{% for reg in registros.object_list %}
						<tr class="{% cycle 'colorblanco' 'colorazul' as rowcolors %}" id="{{reg.id}}">
							<td class="borde_delgado">{{reg.anualidad_trimestre.anualidad_carrera.anualidad.descripcion}}</td>
							<td class="borde_delgado">{{reg.carrera.descripcion}}</td>
							<td class="borde_delgado">{{reg.descripcion}}</td>
							<td class="borde_delgado">{% if reg.observaciones %}{{reg.observaciones}}{% else %}Ninguna{% endif %}</td>
							<td class="borde_delgado">{{reg.fregistro|date:"d-m-Y"}}</td>
							<td class="borde_delgado alineacioncent">
								<img class="imgConsul" src="../../../media/images/consulta/editar.png" style="cursor:pointer" onclick="Dajax.academico_mostrarDatosAlumno({'alumno':'{{reg.id}}'})" alt='{% trans "Modificar" %}' title='{% trans "Pulse sobre este botón para modificar el registro" %}' />
								&#160;
								<img class="imgConsul" src="../../../media/images/consulta/eliminar.png" style="cursor:pointer" onclick="confirmarEliminar('planificacion', '{{reg.id}}')" alt='{% trans "Eliminar" %}' title='{% trans "Pulse sobre este botón para eliminar el registro" %}' />
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% include "base/base_paginacion.html" %}
	{% endif %}
{% endblock %}